*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: green;
    min-height: 100vh;
}

#dialogYouWon {
    background-color: #222222;
    /*background-image: linear-gradient(120deg,#e4c14f,#fda085);*/
    background:repeating-linear-gradient( 45deg, #2A6C15 0px, #2A6C15 20px, #3A7C25 20px, #3A7C25 40px);
    border-radius: 0px;
    border-width: 15px;
    border-color: #c7c7c7;
}

.ui-dialog-titlebar { display: none; }
.ui-widget-overlay { background: rgba(0,0,0,0.9); }
.bigText {
    font-size: 10em;
    text-align: center;
    color: gold;
    font-family: Roboto; 
    font-weight: 400;
    animation: neonPurple 1.5s ease-in-out infinite alternate;
}
.bigBtnBar {
    padding: 10px;
    text-align: center;
}
.bigBtnBar button {
    width: 85%;
    margin: 30px 0;
    font-size:1.5em; color:white; letter-spacing: 0.1em;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
	background-color:#77b55a; background:linear-gradient(to bottom, #D21615 0%,#BC1317 100%);
	border-radius:10px; border:1px solid #4b8f29;
	padding:20px 10px;
	text-shadow:0px 1px 0px #5b8a3c;
    font-family: Roboto; 
}

.game{
    display: flex;
    flex-direction: column;
}

.deck{
    min-height: 20vh;
    display: flex;
}

.poker-license{
    border: none;
    margin: 3% 10%;
    cursor: pointer;
    background-color:none;
    height: 100px;
    border-radius: 3px;
}

.poker-license img{
    pointer-events: none;
}

.poker-license-placement{
    margin-top: 3%;
}
.license1,
.license2,
.license3{
    border: none;
    margin-left: -15%;
}

.placement-table{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}

.placement-table div{
    width: 71px;
    height: 100px;
    user-select: none;
}

.placement-table>div{
    display: table-cell;
    width: 25%;
}
.placement-table>div>div{
    display: table-cell;
    width: 71px;
}


.card-table{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}


.table{
    width: 71px; 
    height: 100px;
    border: 3px;
    border-style: solid;
    border-color: rgb(224, 224, 224) ;
    border-radius: 5px;
}
.table > div{
    width: 71px; 
    height: 100px;
    text-align: left;
    display:table-cell;
    position: relative;
    
}
.temporary-table{
    margin-top: -250px;
    margin-left: 92%;
}

.temporary-table > div{
    height: 25%;
}
.temporary-table > div >div{
    margin-top: 50px;
    width: 71px;
    height: 100px;
    
}

.card {
    cursor: move;
    display: inline-block;
    background: linear-gradient(#fff,#c7c7c7);
    width: 71px;
    height: 100px;
    font-size: 7.5px; /* 7.5px = 120px */
    margin: 0; /* for droppabel - WIP */
    position: relative; /* so z-index works */
    transform: translateZ(0); /* well-known perf fix for mobile browsers */
}
.card .corner span { font-size: 2.5em; }
.slot {
    position: relative;
    display: inline-block;
    width: 71px;
    height: 100px;
    margin: 0;
    border-radius: 0.8em;
    border: 3px solid white;
    font-size: 7.5px;
}
.slotHover { border: 1px solid #a7a7a7; opacity: 1; transform: scale(1.1); transition: .25s ease-in; }
.cascHover { opacity: .5; transition: .25s ease-in; }

/* All noselect obejcts */
h1, .card, div#gameTitle {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

